@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PredictionForm

@{
    ViewData["Title"] = "ML";
}

<div class="h-100 container">
    <div class="d-flex flex-column align-items-center p-0 mb-5 container" style="height:100%;width:900px;margin-block-start:10vh">
        <div class="container">
            <h1>Machine Learning</h1>
            <h5 style="font-weight:normal">
                Machine Learning is a field of artificial intelligence that enables systems to learn and improve from experience without being explicitly programmed.
                It involves algorithms that can analyze data, identify patterns, and make decisions with minimal human intervention.
            </h5>
            <h2 class="mt-3">Deep Learning</h2>
            <span style="font-weight:normal">
                Deep Learning is a subset of machine learning focused on algorithms inspired by the structure and function of the brain, called artificial neural networks.
                It often has a multiple layers. allowing them to learn hierarchical representations of data.
            </span>
            <h2 class="mt-5">What can you do here ?</h2>
            <span style="font-weight:normal">
                Here lies the InceptionV3 model, a convolutional neural network architecture from the Inception family for image classification.
                You can input images of type "jpg" "jpeg" "png" and it will out put 5 possible answers with confidence percentage. Try it out !
            </span>
        </div>
        <form method="POST" enctype="multipart/form-data" class="form-horizontal p-5 w-100 form-bordered" asp-controller="ML" asp-action="Predict">
            <div class="form-group form-actions">
                <div class="form-group w-50" style="margin-top:10px">
                    <label asp-for="BatchName"></label>
                    <input class="form-control" type="string" asp-for="BatchName">
                    <span asp-validation-for="BatchName" class="text-danger"></span>
                </div>
                <div id="dropzoneMLPredictionForm" class="form-group dropzone dz-clickable mt-3 bg-darkblue" style="height:350px">

                </div>
                <div class="mt-3">
                    <button type="submit" id="submit" class="btn btn-sm btn-primary"><i class="bi bi-floppy"></i> Upload & Predict</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"> </script>
    <script>
        function myParamName() {
            return "Images";
        }
        Dropzone.options.dropzoneMLPredictionForm = {
            url: "@Url.Action("Predict", "ML")",
            acceptedFiles: "image/jpeg, image/png, image/jpg",
            autoProcessQueue: false,
            autoDiscover: true,
            paramName: myParamName, // The name that will be used to transfer each file
            uploadMultiple: true,
            parallelUploads: 100,
            init: function () {
                var wrapperThis = this;

                wrapperThis.on("success", function (file, response) {
                    if (response.redirectUrl) {
                        window.location.href = response.redirectUrl;
                    }
                });

                this.on('sendingmultiple', function (data, xhr, formData) {
                    formData.append("BatchName", $('[name="BatchName"]').val());
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                    formData.append("__RequestVerificationToken", $('input:hidden[name="__RequestVerificationToken"]').val());
                });

                $("#submit").click(function (e) {
                    e.preventDefault();
                    wrapperThis.processQueue();
                });
            },
            accept: function (file, done) {
                done();
            }
        };

    </script>
}