html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.scroller {
    /* fill parent */
    display: block;
    /* set to some transparent color */
    border-color: rgba(0, 0, 0, 0.0);
    /* here we make the color transition */
    transition: border-color 0.75s linear;
    /* make this element do the scrolling */
    overflow: auto;
}

.scroller:hover {
    /* the color we want the scrollbar on hover */
    border-color: rgba(0, 0, 0, 0.1);
}

.scroller::-webkit-scrollbar,
.scroller::-webkit-scrollbar-thumb,
.scroller::-webkit-scrollbar-corner {
    /* add border to act as background-color */
    border-right-style: inset;
    /* sum viewport dimensions to guarantee border will fill scrollbar */
    border-right-width: calc(100vw + 100vh);
    /* inherit border-color to inherit transitions */
    border-color: inherit;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-top: 50px;
    margin-bottom: 60px;
    background-image: url('../img/background/dark_blue_gradient.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-darkblue {
    background-color: rgba(33, 37, 50);
}

.bg-slightly-darker {
    background-color: #222222;
}

.bg-darker {
    background-color: #111111;
}